body {
  margin: 0;
  font-family: 'Agdasima', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: rgb(29, 28, 28);
  color:rgb(163, 161, 161);
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New", monospace;
}

h1{
  color: azure;
  text-align: center;
}